<ion-content class="level-shell-content">
  <div class="level-shell-container">
    <div class="title-container">
      <h1 class="title">{{levelName}}</h1>
    </div>

    <div class="content-container">
      <ng-content></ng-content>
    </div>

    <div class="button-container">
      <ion-button expand="full" color="primary" (click)="onNext()">Weiter</ion-button>
    </div>

    <div class="stepper-container">
      <p-stepper [value]="currentStep" [linear]="true">
        <p-step-list>
          <p-step [value]="1"></p-step>
          <p-step [value]="2"></p-step>
          <p-step [value]="3"></p-step>
          <p-step [value]="4"></p-step>
          <p-step [value]="5"></p-step>
          <p-step [value]="6"></p-step>
        </p-step-list>
      </p-stepper>
    </div>
  </div>
</ion-content>