<ion-content id="main-content" class="level-shell-content">
  <app-menu-drawer></app-menu-drawer>

  <div class="level-shell-container">

    <div class="title-container">
      <div class="levle-title">
        <ion-button class="menu-btn" (click)="openMenu()">☰</ion-button>
        <h1 class="title">{{levelName}}</h1>
      </div>
      <p class="levle-time">{{ levelTime }}</p>
    </div>

    <div class="content-container">
      @if (!isCompleted()) {
      <ng-content></ng-content>
      } @else {
      <img src="assets/icon/success.svg">
      }
    </div>
    
    <div class="button-container">
      <ion-button expand="full" color="primary" (click)="onNext()">{{buttonName}}</ion-button>
    </div>

    <div class="stepper-container">
      <p-stepper [value]="currentStep" [linear]="true">
        <p-step-list>
          <p-step [value]="1"></p-step>
          <p-step [value]="2"></p-step>
          <p-step [value]="3"></p-step>
          <p-step [value]="4"></p-step>
          <p-step [value]="5"></p-step>
          <p-step [value]="6"></p-step>
        </p-step-list>
      </p-stepper>
    </div>
  </div>
</ion-content>