

<ion-content [fullscreen]="true">
  <div style="height: 100px;"></div>
  <div class="scoreboard">
      <h2>Scoreboard</h2>
      <table class="custom-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
      @for (s of scoreboard; track s.id) {
        <tr>
          <td>{{ s.username }}</td>
          <td>
            <div class="score-display">
              <p>{{s.mainScore}}🎖️</p><p>{{s.bonusScore}}💩</p>
            </div>
          </td>
          <td>{{s.startTime | date: 'dd/MM/yyyy HH:mm' }}</td>
        </tr>
      }
    </table>
  </div>

  <div class="button-container">
    <ion-button class="alert-btn" (click)="restartGame()">Nochmal Spielen</ion-button>
  </div>

</ion-content>
