.container {
    width: 100%;
    height: 100%;
    background-color: #222222;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    top: 0;
    position: relative;
    align-items: center;
}

.alert-btn {
    display: flex;
    flex-direction: column;
    margin-top: 400px;
}
h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans';
}

h2 {
    margin-top: 150px;
    font-family: 'Lucida Sans';
}